@if (!solved) {
  <div class="guess-form">
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input
        type="text"
        matInput
        [formControl]="guessControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let country of (filteredCountries$ | async)" [value]="country">
          {{ country.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button class="guess-button" mat-raised-button (click)="onGuess()">Guess</button>
  </div>
}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th>Subregion</th>
      <th>Population</th>
      <th>Languages</th>
    </tr>
  </thead>

  <tbody>
    @for (guess of guessedCountries; track guess.name) {
      <tr>
        <td [style.background-color]="toGreenSaturation(guess.name)">
          {{ guess.country.name }}
        </td>
        <td [style.background-color]="toGreenSaturation(guess.region)">
          {{ guess.country.region }}
        </td>
        <td [style.background-color]="toGreenSaturation(guess.subregion)">
          {{ guess.country.subregion }}
        </td>
        <td [style.background-color]="toGreenSaturation(guess.population)">
          {{ guess.country.population }}
        </td>
        <td [style.background-color]="toGreenSaturation(guess.languages)">
          @for (lang of guess.country.languages; track lang.iso639_1) {
            {{ lang.name }}@if (!$last) { , }
          }
        </td>
      </tr>
    }
  </tbody>
</table>